<% flash.each do |key, value| %>
  <div class="alert alert alert-success id="welcome-message" role="alert" alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
       Welcome <a href="users/edit"><%= current_user.email %></a>
       <label>, your last login was on <b><%= current_user.last_login.strftime("%d-%m-%Y") %></b>.</label>
       <% if(@orderNumber > 0) %>
       <label>Click on your last order <a href="orders/<%= @orderNumber %>"># <%= @orderNumber %> </a>to see the details.</label>
       <% else %>
        <label>You don't have any order yet.</label>
       <% end %>
  </div>
<% end %>
