<% provide(:title, "Orders") %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h1>Orders</h1>
  </div class="row">
  <div class="row">
    <table class="table table-hover table-sm">
      <caption>List of orders</caption>
      <thead>
        <tr>
          <th scope="col">Order date</th>
          <th scope="col">User</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% if order.user.email == @user.email %>
          <tr>
            <td>
              <%= order.order_date %>
            </td>
            <td>
              <%= order.user_id %>
            </td>
            <td>
              <%= order.status %>
            </td>
            <td>
              <%= link_to 'Show', order, class: 'btn btn-outline-primary btn-sm' %>
              <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-outline-primary btn-sm' %>        
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
            </td>        
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>