<table id="customers">
     <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
       
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
       <td><%=number_to_currency(item.price, :unit => "€")%></td> 
       <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
       </tr>
       
       <% timx = (item.quantity * item.price)%>  timx is a variable name which you can call whatever you like 

     
     
      <% @total += timx %>
      
      </tr>
    <% end %>
    
    
    <tr>
        
       <td>Order Total: &euro; <%= @total %></td>
       
      </tr>
</table>
