<% provide(:title, "Checkout") %>

<div class="container mt-3">
  <div class="row justify-content-center align-items-center">   
    <div class="col-10 col-md-8 col-lg-6 mt-3">
      <h1>Thank You<br>You have just placed an order #<%= @order.id %></h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">   
    <div class="col-10 col-md-8 col-lg-6 mt-3">      
    <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>                   
                </tr>
            </thead>
    <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>       
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
        <td><%=number_to_currency(item.price, :unit => "€")%></td>       
      </tr>       
       <% timx = (item.quantity * item.price)%>   
       <% @total += timx %>
       <% session[:total_cart_price] = @total %>
      </tr>
    <% end %>
    </table>
         <div class="mt-3">
        <label><b>Order Total:</b> &euro; <%= @total %></label>     
        </div>
        <% shipping = 30 %>
        <% @overall = shipping + @total%>
        <div class="mb-3"> 
        <label><b>Shipping:</b> &euro;30</label>
        </div>        
        <div class="mt-3 mb-3">
        <label><b>You Pay:</b> &euro; <%= @overall %></label>
        </div>
  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="sb-t47tgt1415375@business.example.com">
    <input type="hidden" name="item_name" value="Mobiv <%= @order.id %>">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="amount" value="<%= @overall %>">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
    <input type="hidden" name="return" value="https://agile-scrubland-91420.herokuapp.com/thankyou"> 
  </form>
</div>
</div>
</div>