<% provide(:title, "Products") %>

<div class="container">
  <div class="row mt-3 mb-3">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row mt-3">
    <h1>Products</h1>   
  </div>
  <div class="row mt-3">
    <% @products.each do |product| %>      
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= link_to (image_tag product.image_url, :class => "card-img"), product %>               
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text limit-text-products"><%= product.description %></p>
                <%= link_to 'Show', product, class: 'btn btn-dark' %>
                <% if user_signed_in? && current_user.admin == true %> 
                  <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-dark' %>
                  <%= link_to 'Destroy', product, class: 'btn btn-dark', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <% if user_signed_in? %> 
                  <a href="/cart/<%= product.id %>" class="btn btn-dark">Add To Cart</a>
                <% end %>
              </div>
            </div>
          </div>        
      </div>
    <% end %>
  </div>
</div>

